@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, #19ceea 0%, #17b9d3 100%);
}

h2 {
  position: absolute;
  top: 15px;
}

.slider-container {
  position: relative;
}

input[type='range'] {
  width: 300px;
  margin: 18px 0;
  -webkit-appearance: none;
}

input[type='range'] + label {
  background: #fff;
  position: absolute;
  top: -25px;
  left: 110px;
  width: 80px;
  padding: 5px 0;
  text-align: center;
  border-radius: 3.5px;
}

input[type='range']:focus {
  outline: none;
}

/* chrome & safari */

input[type='range']::-webkit-slider-runnable-track {
  background: #0a525e;
  border-radius: 3.5px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
*/ input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #0a525e;
  margin-top: -7px;
  cursor: pointer;
}

/* firefox */

input[type='range']::-moz-range-track {
  background: #0a525e;
  border-radius: 3.5px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #0a525e;
  margin-top: -7px;
  cursor: pointer;
}

/* IE */

input[type='range']::-ms-track {
  background: #0a525e;
  border-radius: 3.5px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #0a525e;
  margin-top: -7px;
  cursor: pointer;
}
